<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Daftar Pasien</title>
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/aquamarine.css" type="text/css">
</head>

<body>
  <body style="	background-image: #12bbad;	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  {{>header}}
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-10" style="">
          <h1 class="">Daftar Pasien</h1>
        </div>
        <div class="col-md-2" style=""><a class="btn btn-primary" href="/pasien/tambah">Tambah Pasien</a></div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="/" method="post" class="col-20">
            <div class="input-group">
              <div class="input-group-append"><button type="submit" class="btn btn-primary w-100" type="button"><i class="fa fa-search"></i></button></div><input type="text" name="keyword" class="form-control w-50" id="inlineFormInputGroup" placeholder="Masukkan nama pasien" style="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr class="table-primary">
                  <th scope="col" style="" class="table-primary w-25">ID</th>
                  <th scope="col" class="table-primary w-50">Nama</th>
                  <th scope="col" class="table-primary w-75">Alamat</th>
                  <th scope="col" class="table-primary">Tambahkan</th>
                </tr>
              </thead>
              <tbody>
                {{#each_upto pasien 10}}
                <tr>
                  <th scope="row">#{{_id}}</th>
                  <td>{{nama}}<br></td>
                  <td>{{alamat}}</td>
                  <td> <form action="/tambah-antrian/{{_id}}" method="post"> <button type="submit" class="btn btn-primary" href="#">Tambahkan</button> </form> </td>
                </tr>
                {{/each_upto}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#">Prev</a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
