<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Restaurant Aquamarine - Pingendo template</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template for restaurant and food">
  <meta name="keywords" content="Pingendo restaurant food aquamarine free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="aquamarine.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/js/animate-in.js"></script>
  <link rel="stylesheet" href="/aquamarine.css">
</head>

<body style="	background-color: #12bbad;	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <!-- Navbar -->
  {{>header}}
  <!-- Cover -->
  <div class="py-5 bg-primary" >
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-lg-6 col-10">
          <h1><b>Form Rekam Medis</b></h1>
          <form class="text-left" action="/dokter/tambah-mr/{{id}}" method="post">
            <div class="form-group">
              <label for="form16">Subjektif</label>
              <textarea class="form-control" rows="5"  name="subjektif" id="comment" style="font-size: 12pt;width:100%;" ></textarea>
            </div>
            <div class="form-group">
            <div class="form-group">
              <label for="form16">Diagnosa</label>
                <input type="text" class="form-control h-50" name="diagnosa" id="form16" placeholder="Johann W. Goethe" required="required"></div>
            <div class="form-group">
              <label for="form16">Tindakan</label>
              <input type="text" class="form-control h-25" name="tindakan" id="form16" placeholder="Johann W. Goethe" required="required">
            </div>
            <div class="form-group">
              <label for="form16">Medikasi</label>
              <input type="text" class="form-control h-25" name="medikasi" id="form16" placeholder="Johann W. Goethe" required="required">
            </div>
            <div class="form-group">
              <label for="form16">Catatan Administrasi</label>
              <input type="text" class="form-control h-25" name="catatan" id="form16" placeholder="Johann W. Goethe" required="required">
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">BUAT REKAM MEDIS</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro -->
  <!-- Gallery -->
  <!-- Menu -->
  <!-- Carousel reviews -->
  <!-- Carousel venue -->
  <!-- Events -->
  <!-- Parallax section -->
  <!-- Footer -->
  <!-- JavaScript dependencies -->
  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
</body>

</html>
