<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Restaurant Aquamarine - Pingendo template</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template for restaurant and food">
  <meta name="keywords" content="Pingendo restaurant food aquamarine free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/aquamarine.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/js/animate-in.js"></script>
</head>

<body style="	background-image: #12bbad;	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <!-- Navbar -->
  {{>header}}
  <!-- Cover -->
  <div class="py-5 bg-primary" style="	background-image: #12bbad;	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-lg-6 col-10">
          <h1><b>Data Pasien</b></h1>
          <form class="text-left" action="/pasien/tambah" method="post">

            <div class="form-group"> <label for="form16">Nama Lengkap</label> <input type="text" name="nama" class="form-control" id="form16" placeholder="Johann W. Goethe" required="required"> </div>
            <div class="form-group">
              <label for="form16">Jenis Kelamin</label>
              <select name="gender" class="btn dropdown-toggle btn-info form-control">
                <option class="dropdown-item" value="laki-laki">laki-laki</option>
                <option class="dropdown-item" value="AB">perempuan</option>
              </select>
            </div>
            <div class="form-group"> <label for="form16">NIP/NIM</label> <input type="number" name="nomorInduk" class="form-control" id="form16" placeholder="Johann W. Goethe" required="required"> </div>
            <div class="form-group"> <label for="form16">Tanggal Lahir</label> <input type="date" name="tanggalLahir" class="form-control" id="form16" placeholder="Johann W. Goethe" required="required"> </div>
            <div class="form-group"> <label for="form16">Pekerjaan</label> <input type="text" name="pekerjaan" class="form-control" id="form16" placeholder="Johann W. Goethe" required="required"> </div>
            <div class="form-group"> <label for="form17">Alamat</label> <input type="text" name="alamat" class="form-control" id="form17" placeholder="Werther Inc." required="required"> </div>
            <div class="form-group"> <label for="form17">Nomor Telepon/HP.</label> <input type="tel" name="nomorTelp" class="form-control" id="form17" placeholder="Werther Inc." required="required"> </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="">
                <!-- <div class="btn-group"> -->
                  <!-- <button data-toggle="dropdown" class="btn dropdown-toggle btn-info"> Golongan Darah</button> -->
                  <p>Golongan Darah</p>
                  <select name="golonganDarah" class="btn dropdown-toggle btn-info">
                    <option class="dropdown-item" value="A">A</option>
                    <option class="dropdown-item" value="AB">AB</option>
                    <option class="dropdown-item" value="B">B</option>
                    <option class="dropdown-item" value="O">O</option>
                  </select>
                <!-- </div> -->
              </div>
              <div class="form-group col-md-3" style="">
                <!-- <div class=> -->
                  <!-- <button data-toggle="dropdown" align="right" class="btn dropdown-toggle btn-info"> Rhesus</button> -->
                  <p>Rhesus</p>
                  <select name="rh" class="btn dropdown-toggle btn-info">
                    <option class="dropdown-item" value="+">+</option>
                    <div class="dropdown-divider"></div>
                    <option class="dropdown-item" value="-">-</option>
                  </select>
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div align="center" class="col-md-12"><button type="submit" class="btn btn-secondary btn-lg btn-block">TAMBAH</button></div>
            </div>
            <div class="form-group">
              <!-- <div class="form-check"> <label class="form-check-label bg-primary" for="form21"></label> </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
</body>

</html>
